<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Patients with Upcoming Appointments</h1>
    <%= link_to 'All Patients', patients_path, class: 'btn btn-outline-secondary' %>
  </div>

  <%= render 'patient' %>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @patients %>
  </div>
</div>
